.first{
    color:blue;
}
.second{
    color: brown;
}
div h1{
    background-color: rgb(255, 0, 0);
} 
/* .div-cls h1{
    background-color: aqua;
} */
.third{
    background-color: aqua;
}
.div-cls .third{ background-color: aqua;
}